<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title"> User form</h1>
    </div>
    <br>
    <!--<p class="alert-danger" ng-show="uc.errorMessage">please select any one field</p>-->
    <form class="form-inline text-center" ng-submit="uc.submitUser()">
        <div class="form-group" >
            <label for="firstName">firstName</label>
            <input type="text" class="form-control" id="firstName" placeholder="enter first name"ng-model ="uc.user.firstName" >

        </div>
        <div class="form-group">
            <label for="lastName">lastName</label>
            <input type="text" class="form-control" id="lastName" ng-model="uc.user.lastName">
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="dateOfBirth">dateOfBirth</label>
            <input type="date" class="form-control" id="dateOfBirth" ng-model="uc.user.dateOfBirth">
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <textarea  class="form-control" ng-model="uc.user.address" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
        <span ng-show="uc.user.$pristine"> please enter any field</span>
    </form>
</div>
