<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title"> User form</h1>
            </div>
            <br>
            <p class="alert-danger" ng-show="hm.errorMessage">please select any one field</p>
            <form class="form-inline text-center" ng-submit="hm.getUserDetails()">
                <div class="form-group" >
                    <label for="firstName">firstName</label>
                    <input type="text" class="form-control" id="firstName" placeholder="enter first name"ng-model ="hm.user.firstName" >

                </div>
                <div class="form-group">
                    <label for="lastName">lastName</label>
                    <input type="text" class="form-control" id="lastName" ng-model="hm.user.lastName">
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="dateOfBirth">dateOfBirth</label>
                    <input type="date" class="form-control" id="dateOfBirth" ng-model="hm.user.dateOfBirth">
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <textarea  class="form-control" ng-model="hm.user.address" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">submit</button>
                <span ng-show="hm.user.$pristine"> please enter any field</span>
            </form>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3  class="panel-title text-center">Search Me</h3>
            </div>
            <div class="col-md-12 panel-body" >
                <table ng-table="hm.tableParams" class="table table-condensed table-bordered table-striped">
                    <!--<p ng-show = "!hm.exists" class="alert-info">No records found </p>-->
                    <tr ng-repeat ="row in hm.tableParams.data">
                        <td data-title="'firstName'" filter="{firstName: 'text'}" sortable="'firstName'"  ng-bind="row.user.firstName"></span></td>
                        <td data-title="'lastName'" filter="{lastName: 'text'}" sortable="'lastName'" ng-bind="row.user.lastName"></td>
                        <td data-title="'dateOfBirth'" filter="{dateOfBirth: 'date'}" sortable="'dateOfBirth'" ng-bind="row.user.dateOfBirth"></td>
                        <td data-title="'address'" filter="{address: 'text'}" sortable="'address'" ><span ng-repeat="each in row.userDetails">
                        <pre> Street :{{each.address.street}}, State : {{each.address.state}},City :{{each.address.city}}</pre>
                             </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
